<!-- <b>2024 Tasks</b>
<ul style="padding-left: 24px; position: static !important;">
    <li><a href="#-task-cross-language-retrieval-clir">Cross-Language Retrieval</a></li>
    <li><a href="#-task-cross-language-technical-documents">Cross-Language Technical</a></li>
    <li><a href="#-task-multilingual-retrieval-mlir">Multilingual Retrieval</a></li>
    <li><a href="#-task-cross-language-report-generation">🆕 Report Generation</a></li>
</ul> -->

<b>Quick Links</b>
<ul style="padding-left: 24px; position: static !important;">
    <li><a href="/index.html#timeline">Timeline</a></li>
    <li><a href="/search_api.html">Search API Documentation</a></li>
    <li><a href="https://docs.google.com/document/d/13ttauQKJ9ufvfHyHIPEC6ZJk4PG0OYjwQwM1n4hd4x0/edit?usp=sharing">Track Guidelines</a></li>
    <li><a href="https://groups.google.com/g/ragtime-participants">Mailing List</a></li>
</ul>
